<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <style>
    .navbar-brand {
      font-family: 'Lucida Handwriting', cursive;
      color: #198754;
    }
    .nav-link {
      font-family: Verdana, sans-serif;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand fs-1" href="">HUST Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Bán hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Nhập hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/viewuser">Đối tượng</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="">
              Thống kê
            </a>
          </li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
        
        <div class="login-action navbar-nav" >
          
        </div>
       
      </div>
    </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Chọn vai trò của bạn</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Bạn là chủ hay là nhân viên?</p>
        </div>
        <div class="modal-footer">
          <form action="/admin/login">
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-danger">Chủ</button>
            </div>
          </form>
          <form action="/user/signIn">
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-success">Nhân viên</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    const loginActionBox = document.querySelector('.login-action');
    console.log(loginActionBox);
    if (loginActionBox){
      const token = localStorage.getItem('token');
      if (token) {
        loginActionBox.innerHTML = ` 
          <div class="text-center mt-3">
            <button class="btn btn-success" type="submit" onclick="handleLogOut()">Đăng xuất</button>
          </div>
        `
      }
      else{
        loginActionBox.innerHTML = `<form action="">
            <div class="text-center mt-3">
              <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</button>
            </div>
          </form>
          <form action="/user/signUp">
            <div class="text-center mt-3">
              <button class="btn btn-success" type="submit">Đăng ký</button>
            </div>
          </form>`
      }
    }
    const handleLogOut = () => {
      localStorage.removeItem('token')
      window.location.reload();
    }
  </script>
</body>

</html>